@import url(reset.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

html gutter-container {
  width: 100%;
  padding: 0 2rem;
}

@media screen and (min-width: 30em) {
  html gutter-container {
    padding: 0 4rem;
  }
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

html body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #2b2c2d;
  padding: 2rem 0;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

html body header h1 {
  font-size: 2rem;
  color: white;
}

@media screen and (min-width: 40em) {
  html body header h1 {
    font-size: 3rem;
  }
}

html body header h1 i {
  padding-right: 0.25rem;
}

html body main {
  padding: 0 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-top: -0.1rem;
}

html body main h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: bold;
  padding-top: 3rem;
}

@media screen and (min-width: 40em) {
  html body main h2 {
    font-size: 3.5rem;
  }
}

html body main video-container {
  max-width: 900px;
  width: 100%;
  background-color: #0056a0;
  overflow: hidden;
  position: relative;
  margin: 0 auto 5rem;
}

@media screen and (min-width: 30em) {
  html body main video-container {
    border-radius: 0.5rem;
  }
}

html body main video-container.fullscreen {
  max-width: 100%;
  width: 100%;
}

html body main video-container.show-controls controls-wrapper {
  bottom: 0px;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

html body main video-container controls-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  color: white;
  font-size: 1.6rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

html body main video-container controls-wrapper:before {
  content: "";
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: calc(100% + 3.5rem);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

html body main video-container controls-wrapper video-timeline {
  height: 0.7rem;
  width: 100%;
  display: block;
  cursor: pointer;
}

html body main video-container controls-wrapper video-timeline:hover span, html body main video-container controls-wrapper video-timeline:hover progress-bar::before {
  display: block;
}

html body main video-container controls-wrapper video-timeline progress-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}

html body main video-container controls-wrapper video-timeline progress-area span {
  display: none;
  position: absolute;
  left: 50%;
  top: -2rem;
  font-size: 1.3rem;
  color: white;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-shadow: rgba(0, 0, 0, 0.6);
}

html body main video-container controls-wrapper video-timeline progress-area progress-bar {
  width: 0%;
  height: 100%;
  position: relative;
  background: #0056a0;
}

html body main video-container controls-wrapper video-timeline progress-area progress-bar:before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1.3rem;
  width: 1.3rem;
  background: inherit;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html body main video-container controls-wrapper video-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

html body main video-container controls-wrapper video-controls video-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main video-container controls-wrapper video-controls .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

html body main video-container controls-wrapper video-controls .options.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body main video-container controls-wrapper video-controls .options.right playback-content {
  position: relative;
}

html body main video-container controls-wrapper video-controls .options.right playback-content .speed-options {
  position: absolute;
  bottom: 6rem;
  left: -4rem;
  background: white;
  list-style: none;
  width: 9.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  cursor: pointer;
}

html body main video-container controls-wrapper video-controls .options.right playback-content .speed-options.show {
  opacity: 1;
  pointer-events: auto;
}

html body main video-container controls-wrapper video-controls .options.right playback-content .speed-options li {
  font-size: 1.4rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: #2b2c2d;
}

html body main video-container controls-wrapper video-controls .options.right playback-content .speed-options li.active {
  background: #0056a0;
  color: white;
}

html body main video-container controls-wrapper video-controls .options.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body main video-container controls-wrapper video-controls .options input {
  height: 0.4rem;
  max-width: 6.5rem;
}

html body main video-container controls-wrapper video-controls .options video-timer {
  font-size: 1.4rem;
  margin-left: 1rem;
}

html body main video-container controls-wrapper video-controls .options video-timer timer-separator {
  margin: 0 0.5rem;
}

html body main video-container controls-wrapper video-controls .options button {
  width: 5rem;
  height: 5rem;
  border: none;
  background: none;
  color: white;
  font-size: 2.6rem;
  cursor: pointer;
}

html body main video-container controls-wrapper video-controls .options button:focus {
  -webkit-box-shadow: inset 0 0 0 0.4rem rgba(27, 127, 204, 0.8);
          box-shadow: inset 0 0 0 0.4rem rgba(27, 127, 204, 0.8);
  outline: none;
}

html body main video-container controls-wrapper video-controls .options button:focus:not(:focus-visible) {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

html body main video-container controls-wrapper video-controls .options button:focus-visible {
  -webkit-box-shadow: inset 0 0 0 0.4rem rgba(27, 127, 204, 0.8);
          box-shadow: inset 0 0 0 0.4rem rgba(27, 127, 204, 0.8);
  outline: none;
}

html body main video-container controls-wrapper video-controls .options button i {
  width: 100%;
  height: 100%;
  line-height: 4rem;
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body main video-container controls-wrapper video-controls .options button span {
  font-size: inherit;
}

html body main video-container video {
  width: 100%;
}

html body main climber-container {
  overflow: hidden;
}

html body main climber-container svg#climberScene {
  width: 200%;
  height: 100%;
  left: 0%;
  position: relative;
}

@media screen and (min-width: 40em) {
  html body main climber-container svg#climberScene {
    width: 100%;
  }
}

html body main climber-container svg#climberScene #fg {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

html body footer {
  background-color: #2b2c2d;
  color: white;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  font-size: 1.4rem;
}

html body footer i {
  color: #ff0033;
}
/*# sourceMappingURL=styles.css.map */